.box {
  width: 200px;
  height: 200px;
  background-color: tomato;
  display: inline-block;
}

.box:first-child {
  margin-right: 25%;
}

.box:last-child {
  margin-left: 25%;
}

.box:nth-child(2) {
  margin: 0 25%;
}
