.father {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.box {
  width: 200px;
  height: 200px;
  background-color: tomato;
  color: white;
  font-size: 36px;
}
