.father {
  display: flex;
  height: 100vh;
  flex-derection: row;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}

.box {
  width: 200px;
  height: 200px;
  background-color: tomato;
  color: white;
  font-size: 36px;
  display: flex;
}
